@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "M PLUS Rounded 1c";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../assets/fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../assets/fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html,
body,
#app {
    height: 100%;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
    font-size: 14px;
    line-height: 17px;
    background: var(--p-gray-700);
}
.p-overlay-mask {
    background: rgb(255 255 255 / 60%) !important;
    color: var(--p-primary-color) !important;
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/* Menu bar customization */
:root {
    --p-menubar-background: var(--p-gray-700) !important;
    --p-menubar-border-color: var(--p-gray-700) !important;
    --p-menubar-border-radius: 0 !important;
    --p-menubar-item-color: white !important;
    --p-menubar-item-icon-color: white !important;
}

::selection {
  background: var(--p-button-primary-background);
  color: white
}

.p-dialog-header {
background-color: var(--p-gray-700);
color: white;
border-top-right-radius: var(--p-dialog-border-radius);
border-top-left-radius: var(--p-dialog-border-radius);

}