@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "M PLUS Rounded 1c";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../assets/fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff2")
            format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../assets/fonts/m-plus-rounded-1c-v10-latin_japanese-regular.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html,
body,
#app {
    height: 100%;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
    font-size: 14px;
    line-height: 17px;
    background: var(--p-gray-700);
}
.p-overlay-mask {
    background: rgb(255 255 255 / 60%) !important;
    color: var(--p-primary-color) !important;
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
/* Customization */
:root {
    --p-menubar-background: var(--p-gray-700) !important;
    --p-menubar-border-color: var(--p-gray-700) !important;
    --p-menubar-border-radius: 0 !important;
    --p-menubar-item-color: white !important;
    --p-menubar-item-icon-color: white !important;
    /* --p-tag-contrast-background: var(--p-gray-700) !important; */
    /* --p-primary-contrast-color: #ffffff !important; */
    --p-slate-50: #f8fafc !important;
    --p-slate-100: #f1f5f9 !important;
    --p-slate-200: #e2e8f0 !important;
    --p-slate-300: #cbd5e1 !important;
    --p-slate-400: #818d9f !important;
    --p-slate-500: #444e5c !important;
    --p-slate-600: #3e4b5b !important;
    --p-slate-700: #2b3647 !important;
    --p-slate-800: #1e293b !important;
    --p-slate-900: #0f172a !important;
    --p-slate-950: #020617 !important;
}
.p-datatable-row-selected {
    background-color: var(--p-slate-700) !important;
    color: white !important;
}

::selection {
    background: var(--p-button-primary-background);
    color: white;
}

.p-dialog-header {
    background-color: var(--p-gray-700);
    color: white;
    border-top-right-radius: var(--p-dialog-border-radius);
    border-top-left-radius: var(--p-dialog-border-radius);
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Scrollbar End*/

.infoLabel {
    width: 5rem;
    line-height: 2rem !important;
    text-align: right;
    font-size: 0.75rem; /* 12px */
    line-height: 2rem; /* 16px */
    color: var(--p-button-text-secondary-color);
}

h3 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    font-size: large;
    margin-block: 1.5rem 0.5rem;
    margin-inline: 0;
    color: var(--p-emerald-600);
}
